@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Josefin+Slab&family=Playpen+Sans:wght@100&display=swap');

body {
    background-color: #6C807B;
}

.container {
    margin: 30px;
    display: flex;
    flex-direction: row;
   justify-content: center;
}

.element_image{
    padding: 20px;
    margin-left: 100px; 
}

#imagem_principal {
    width: 400px;
}

.element_text {
    font-size: 30px;
    margin: 200px;
}

#texto_principal {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #ffffff;
}

#apresentacao {
    line-height: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    color: #ffffff;
}


.sub_titulo {
    background-color: #D9D9D9;
    padding: 20px;
    text-align: center;
    margin: 50px;
    border-radius: 10px;
}

.titulo_principal_sections {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.container_elements_section {
    display: flex;
    justify-content: space-around;  
    margin: 20px;
}

.element_icon {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 25px;
    cursor: pointer;
}

.element_project {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 25px;
}

.element_project:hover {
    box-shadow: 15px 15px 15px #000000;
    transition: 2s;
    background-color: #ffa500;
}

.nas {
    background-color: #D9D9D9;
    margin: 30px;
    border-radius: 10px;
    padding: 120px;
}

#paragrafo_section {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.container_footer {
    background-color: #959595;
    padding: 30px;
    display: flex;
    justify-content: end;
}

.element {
    background-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
}

.img {
    display: flex;
    align-items: center;
}

.ancora {
    text-decoration: none;
    margin: 0 10px;
}



